html, body {
  margin: 0;
  padding: 0;
  /* Hide scrollbar */
  /* Hide scrollbar */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#BG {
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(59.58% 708.79% at 100% 44.53%, rgba(11, 12, 21, 0.5) 0%, #0B0C15 100%), url("../assests/bg1.jpg");
  background-position: 133% 0;
  background-repeat: no-repeat;
  background-size: contain;
}

header {
  z-index: 100;
  position: fixed;
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  height: 3.5rem;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
header #navLinks {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
header #navLinks #navMarker {
  position: absolute;
  background-color: #eee;
  right: 0;
  height: 2px;
  width: 0;
  bottom: -8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 4px;
}
header #navLinks .activeLink::after {
  width: 100% !important;
}
header #navLinks .nonActiveLink::after {
  width: 0 !important;
}
header #navLinks a {
  color: rgba(238, 238, 238, 0.6);
  margin: 0.3rem 0.5rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
header #navLinks a::after {
  content: attr(data-name);
  position: absolute;
  -webkit-background-clip: text;
          background-clip: text;
  width: 0;
  height: 100%;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 400;
  color: #01FFFF;
  -webkit-transition: 700ms;
  transition: 700ms;
}

#content {
  width: 40vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.5rem 0 1rem 0;
  row-gap: 3rem;
}
#content #txt {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 0.5rem;
}
#content #txt span {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  text-align: center;
  color: grey;
  font-size: 0.7rem;
  font-family: "Inconsolata";
  letter-spacing: 1px;
}
#content #txt p {
  font-family: "Comfortaa";
  margin: 0;
  font-size: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#content #txt svg {
  height: 1rem;
  width: auto;
  fill: #1D90F5;
  -webkit-transform: rotate(13deg);
          transform: rotate(13deg);
}
#content #txt svg path {
  fill: #1D90F5;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1rem;
  width: 80%;
}
form .fgp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #323645;
  border-radius: 0.7rem;
  padding: 0.7rem 0.4rem;
  -webkit-column-gap: 0.4rem;
     -moz-column-gap: 0.4rem;
          column-gap: 0.4rem;
  width: 100%;
}
form .fgp label {
  font-size: 0.6rem;
  color: grey;
  font-family: "Roboto Mono";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}
form .fgp input, form .fgp select {
  background-color: transparent;
  font-family: "Open Sans";
  width: 100%;
  letter-spacing: 1px;
  border: none;
  color: white;
  font-size: 0.9rem;
}
form .fgp input:focus, form .fgp select:focus {
  outline: none;
}
form .fgp select {
  background-color: #323645;
  font-family: "Open Sans" !important;
}
form .fgp select option {
  font-family: "Open Sans" !important;
  letter-spacing: 0.5px;
}
form .fgp:nth-of-type(4) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
form .fgp:nth-of-type(4) label {
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
form .fgp:nth-of-type(4) input {
  text-align: center;
}
form .fgp:nth-of-type(4), form .fgp:nth-of-type(5) {
  width: 45%;
}
form .fgp:last-of-type {
  background-color: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
form .fgp:last-of-type label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
form .fgp:last-of-type label:nth-of-type(2) {
  color: white;
  font-size: 0.9rem;
}
form .fgp svg {
  fill: white;
  overflow: visible;
  height: 1rem;
  width: auto;
  opacity: 0.6;
}
form .fgp svg path {
  overflow: visible;
  fill: white;
}
form button {
  margin: 0 auto;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  color: white;
  border: 1px solid #1C8FF3;
  border-radius: 0.8rem;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 700ms;
  transition: 700ms;
  font-family: "Comfortaa";
  font-weight: 400;
}
form button:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  background-color: #1C8FF3;
  color: black;
  font-weight: 500;
}