:root {
  --breath: 40%;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  /* Hide scrollbar */
  /* Hide scrollbar */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#page5 {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: white;
  z-index: 10;
  padding-bottom: 1rem;
}
#page5 #p5BG {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: -10;
  background-color: #001220;
  background-image: url("../assests/layered-waves-haikei (2).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#page5 #p5Txt {
  width: 100%;
  height: 50vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
}
#page5 #p5Txt h1 {
  margin: 0;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
}
#page5 #p5Txt p {
  margin: 0 0 0 2.5rem;
  font-size: 1rem;
  font-weight: 400;
}
#page5 #ContactUS {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: -10px 10px 40px 0px black;
          box-shadow: -10px 10px 40px 0px black;
  border-radius: 1rem;
  overflow: hidden;
}
#page5 #ContactUS #cForm {
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 2rem;
}
#page5 #ContactUS #cForm #cfHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#page5 #ContactUS #cForm #cfHead p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  font-size: 1.5rem;
  font-family: "Comfortaa";
  font-weight: 500;
}
#page5 #ContactUS #cForm #cfHead svg {
  height: 1.5rem;
  width: auto;
  fill: grey;
}
#page5 #ContactUS #cForm #cfContent {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  gap: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#page5 #ContactUS #cForm #cfContent input, #page5 #ContactUS #cForm #cfContent textarea {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  font-family: "Roboto Mono", monospace;
}
#page5 #ContactUS #cForm #cfContent input:focus, #page5 #ContactUS #cForm #cfContent textarea:focus {
  outline: none;
}
#page5 #ContactUS #cForm #cfContent textarea {
  grid-column: 1/-1;
}
#page5 #ContactUS #cForm button {
  border: 2px solid #0016CC;
  background-color: transparent;
  color: black;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  font-weight: 500;
  font-family: "Quicksand";
  -webkit-transition: 700ms;
  transition: 700ms;
  cursor: pointer;
}
#page5 #ContactUS #cForm button:hover {
  background-color: #0016CC;
  color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#page5 #ContactUS #info {
  width: 30%;
  padding: 0 0 0 0.5rem;
  background-color: #272E41;
  color: #dfdfdd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}
#page5 #ContactUS #info p {
  font-size: 1.5rem;
  font-family: "Comfortaa";
  margin-bottom: 1rem;
  font-weight: 500;
}
#page5 #ContactUS #info .info1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}
#page5 #ContactUS #info .info1 .i1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.7rem 1rem;
  opacity: 0.6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 500ms;
  transition: 500ms;
}
#page5 #ContactUS #info .info1 .i1:hover {
  opacity: 1;
}
#page5 #ContactUS #info .info1 .i1 svg {
  height: 1.3rem;
  width: auto;
  overflow: visible;
}
#page5 #ContactUS #info .info1 .i1 tt {
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-size: "Inconsolata";
}
#page5 #ContactUS #info .info2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#page5 #ContactUS #info .info2 svg {
  height: 2rem;
  width: auto;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 0.5;
  fill: #dfdfdd;
}
#page5 #ContactUS #info .info2 svg:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#page5 #ContactUS #info .info3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#page5 #ContactUS #info .info3 img {
  height: auto;
  width: 95%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 0 0 0.25rem;
  border-radius: 0.6rem;
}