:root {
  --cardW: 0;
  --cardH: 0;
  --breath: 40%;
  --page_grad1: #bc0001;
  --page_grad2: #7d0001;
  --page_grad3: #3f0000;
}

#marker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 100px;
  background-color: red;
  z-index: 100000;
  -webkit-transition: 500ms;
  transition: 500ms;
  visibility: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  /* Hide scrollbar */
  /* Hide scrollbar */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

[id^=bcGrad] {
  position: fixed;
  z-index: -20;
  height: 100vh;
  width: 100vw;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

#bcGrad1 {
  background: radial-gradient(circle at 50% 100%, #00d9ff, #0091aa, #004855 var(--breath), #000000);
}

body {
  font-family: "Comfortaa";
  width: 100vw;
  min-height: 100vh;
  color: #eee;
}

#mainTxt {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  pointer-events: none;
}
#mainTxt p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  color: black;
  -webkit-transform: translateY(calc(50vh - 2rem - 4rem));
          transform: translateY(calc(50vh - 2rem - 4rem));
  -webkit-transform-origin: center;
          transform-origin: center;
  padding: 2rem 3rem;
  border-radius: 1rem;
  background-color: #eee;
  font-size: 4rem;
}

#bgGrid {
  position: fixed;
  height: 100vh;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
#bgGrid .bgGrid__item {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("../assests/person.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#bgGrid .bgGrid__item:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

#people {
  padding-bottom: 100vh;
  width: 100%;
  position: relative;
}
#people [id^=bug] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  -webkit-transform-origin: center;
          transform-origin: center;
  visibility: hidden;
}
#people [id^=bug] .bug {
  height: 100%;
  width: 100%;
  background-image: url("../assests/virus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#people .people__contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.7rem 15.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4rem 0;
}
#people #heads {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(5, var(--cardW));
  gap: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4rem 1rem;
}
#people #heads .card {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: var(--cardH) !important;
  width: var(--cardW) !important;
}
#people #mis #misContain {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#people #mis #misTxt {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}
#people .card {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 250px;
  height: 350px;
  min-height: 350px;
  max-height: 350px;
  margin: 0;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: inset 0 0 15px 1px #000000;
          box-shadow: inset 0 0 15px 1px #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#people .card:hover .fImg {
  border-radius: 3rem;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  -webkit-transform: scale(0.4) translateY(-5rem);
          transform: scale(0.4) translateY(-5rem);
}
#people .card:hover .cardBody .cardInfo p {
  -webkit-animation: tracking-in-expand 1200ms 700ms cubic-bezier(0.215, 0.61, 0.355, 1) both !important;
          animation: tracking-in-expand 1200ms 700ms cubic-bezier(0.215, 0.61, 0.355, 1) both !important;
}
#people .card .bImg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: grayscale(100%) blur(1.5px);
          filter: grayscale(100%) blur(1.5px);
  pointer-events: none;
}
#people .card .cardBody {
  height: 60%;
  width: 100%;
  display: grid;
  grid-template-rows: 33% 66%;
}
#people .card .cardBody .cardCircle {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: #fcfbf4;
  -webkit-clip-path: ellipse(50% 49% at 50% 50%);
          clip-path: ellipse(50% 49% at 50% 50%);
}
#people .card .cardBody .cardInfo {
  background-color: #fcfbf4;
  top: 2px;
  z-index: 10;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#people .card .cardBody .cardInfo p {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa";
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
  opacity: 0;
  -webkit-animation: tracking-out-contract 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: tracking-out-contract 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}
#people .card .cardBody .cardInfo .links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#people .card .cardBody .cardInfo .links svg {
  margin: 0;
  height: 2.5rem;
  width: auto;
  padding-bottom: 0.4rem;
  border-bottom: 3px solid black;
  cursor: pointer;
}
#people .card .cardBody .cardInfo .links svg:hover {
  -webkit-animation: jello-horizontal 0.9s both;
          animation: jello-horizontal 0.9s both;
}
#people .card .cardBody .fImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  pointer-events: none;
}