:root {
  --baseFont: 2vmax;
  --breath: 40%;
  --cardWidth: 0px;
  --cardLeftMargin: 1rem;
  --aboutImgSide: 0px;
  --page_grad1: #bc0001;
  --page_grad2: #7d0001;
  --page_grad3: #3f0000;
}

[class^=mobile] {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* Hide scrollbar */
  /* Hide scrollbar */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #000000 !important;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
  /* Hide scrollbar */
  /* Hide scrollbar */
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

[id^=bcGrad] {
  position: fixed;
  z-index: -20;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

#blurBG {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 200%;
  z-index: -50;
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

#bcGrad1 {
  background: radial-gradient(circle at 0% 100%, #0029fd, #001ba9, #000e54 var(--breath), #000000 80%);
}

#bcGrad2 {
  background: radial-gradient(circle at 100% 100%, #310090, #270a5e, #1b0b31 var(--breath), #000000 80%);
}

#bcGrad3 {
  background: radial-gradient(circle at 0% 50%, var(--page_grad1), var(--page_grad2), var(--page_grad3) var(--breath), #000000);
}

#bcGrad4 {
  background: radial-gradient(circle at 50% 100%, #00d9ff, #0091aa, #004855 var(--breath), #000000);
}

#bcGrad5 {
  background-color: #000000;
}

/* POPUP */
#popUPBG {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  z-index: -10;
  -webkit-transition: 800ms;
  transition: 800ms;
}
#popUPBG #pContent {
  width: 35vw;
  position: relative;
}
#popUPBG #pContent #cut {
  position: absolute;
  top: 0.4rem;
  right: 0.6rem;
  height: 1.5rem;
  width: auto;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: 700ms;
  transition: 700ms;
}
#popUPBG #pContent #cut:hover {
  fill: white;
}
#popUPBG #pContent #popHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D2BCED;
  width: 100%;
}
#popUPBG #pContent #popHead img {
  height: 10rem;
  width: auto;
}
#popUPBG #pContent #pBody {
  color: white;
  border: 3px solid #D2BCED;
  border-radius: 0 0 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.5rem;
  padding: 1rem 0;
  background-color: #4B4453;
}
#popUPBG #pContent #pBody p {
  margin: 0;
  font-size: 1.3rem;
  font-family: "Comfortaa";
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
}
#popUPBG #pContent #pBody button {
  border: 2px solid #01FFFF;
  border-radius: 0.4rem;
  padding: 0.4rem 1rem;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Inconsolata";
  cursor: pointer;
  -webkit-transition: 700ms;
  transition: 700ms;
}
#popUPBG #pContent #pBody button:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #01FFFF;
          box-shadow: 0px 0px 10px 0px #01FFFF;
  background-color: #01FFFF;
  border-color: #01FFFF;
  color: black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* POPUP */
header {
  z-index: 100;
  position: fixed;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  height: 3.5rem;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 2px;
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
}
header #navLinks {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
header #navLinks #navMarker {
  position: absolute;
  background-color: #eee;
  right: 0;
  height: 2px;
  width: 0;
  bottom: -8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 4px;
}
header #navLinks .activeLink::after {
  width: 100% !important;
}
header #navLinks .nonActiveLink::after {
  width: 0 !important;
}
header #navLinks a {
  color: rgba(238, 238, 238, 0.6);
  margin: 0.3rem 0.5rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
header #navLinks a::after {
  content: attr(data-name);
  position: absolute;
  -webkit-background-clip: text;
          background-clip: text;
  width: 0;
  height: 100%;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 400;
  color: #01FFFF;
  -webkit-transition: 700ms;
  transition: 700ms;
}
header span a {
  cursor: pointer;
  margin: 0 1rem;
  padding: 0.4rem 0.6rem;
  border: 1px solid #01FFFF;
  border-radius: 0.5rem;
  background-color: transparent;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}
header span:hover a {
  color: black;
  background-color: #01FFFF;
}

.button1 {
  color: white;
  font-family: "Inconsolata";
  padding: 1rem;
  border: 1px solid white;
  border-radius: 0.4rem;
  cursor: pointer;
  -webkit-transition: 700ms;
  transition: 700ms;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
}
.button1:hover {
  background-color: #3FFF00 !important;
  border-color: transparent !important;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}
.button1:hover p {
  color: black;
  -webkit-transform: translateZ(40px);
          transform: translateZ(40px);
}
.button1 p {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 700ms;
  transition: 700ms;
}

#pages {
  height: 100vh;
  scroll-behavior: smooth;
  overflow: scroll;
  /* Hide scrollbar */
  /* Hide scrollbar */
}
#pages::-webkit-scrollbar {
  display: none;
}
#pages {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#page1, #page2, #page3, #page4, #page5 {
  height: 100vh;
  padding-top: 3.5rem;
}

#page1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 50;
}
#page1 #homeTxt {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2rem;
}
#page1 #homeTxt h1 {
  display: inline;
  font-family: "Jost", sans-serif !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: white;
  font-size: min(5vw,4rem);
  margin: 0;
  margin-bottom: 0.5rem;
}
#page1 #homeTxt p {
  margin: 0;
  font-family: "Comfortaa", cursive;
  margin-left: 4vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #eee;
  font-weight: 300;
  font-size: min(2.2vw,1.5rem);
  text-align: center;
  -webkit-animation: bounceInLeft 2000ms ease-in-out forwards;
          animation: bounceInLeft 2000ms ease-in-out forwards;
}
#page1 #homeTxt p span {
  font-weight: 400;
  color: orangered;
}
#page1 #homeImg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#page1 #homeImg #homeImg__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
#page1 #homeImg #homeImg__content #cyberImg {
  z-index: 10;
  opacity: 0;
  position: relative;
  height: 35vw;
  max-height: 50vh;
  width: 35vw;
  background-image: url("../assests/cyberS.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}
#page1 #homeImg #homeImg__content #light {
  position: absolute;
  z-index: -10;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(2.18%, #ffffff), color-stop(97.5%, rgba(217, 217, 217, 0)));
  background: linear-gradient(360deg, #ffffff 2.18%, rgba(217, 217, 217, 0) 97.5%);
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}
#page1 #homeImg #homeImg__content #pedestal {
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
  width: 35vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#page1 #homeImg #homeImg__content #pedestal [class^=moveUp] {
  opacity: 0;
}
#page1 #homeImg #homeImg__content #pedestal .moveUp1 {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  -webkit-animation: amoveUp 1300ms ease-out forwards;
          animation: amoveUp 1300ms ease-out forwards;
  -webkit-animation-delay: 2900ms;
          animation-delay: 2900ms;
}
#page1 #homeImg #homeImg__content #pedestal .moveUp2 {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  -webkit-animation: amoveUp 1100ms ease-out forwards;
          animation: amoveUp 1100ms ease-out forwards;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
#page1 #homeImg #homeImg__content #pedestal .moveUp3 {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-animation: amoveUp 900ms ease-out forwards;
          animation: amoveUp 900ms ease-out forwards;
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}
#page1 #homeImg #homeImg__content #pedestal .moveUp4 {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  -webkit-animation: amoveUp 700ms 400ms ease-out forwards;
          animation: amoveUp 700ms 400ms ease-out forwards;
}

#page2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  width: 100%;
}
#page2 #aboutImg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  position: relative;
}
#page2 #aboutImg img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 50%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#page2 #aboutTxt {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  z-index: -10;
}
#page2 #aboutTxt #move-1, #page2 #aboutTxt #move-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
#page2 #aboutTxt #move-1 {
  height: 100%;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: "Quicksand";
  font-size: 3rem;
}
#page2 #aboutTxt #move-2 {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Roboto Mono";
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#page3 {
  height: 100vh;
  width: 100%;
}
#page3 .splide .splide__track {
  overflow: visible;
  margin-top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#page3 .splide .splide__arrow, #page3 .splide .splide__pagination {
  top: 0 !important;
}
#page3 .boundry {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 3rem;
}
#page3 .boundry:hover .face.fwdFace {
  -webkit-transform: perspective(1000px) rotateY(180deg);
          transform: perspective(1000px) rotateY(180deg);
}
#page3 .boundry:hover .face.bckFace {
  -webkit-transform: translate(-50%, -50%) perspective(1000px) rotateY(360deg);
          transform: translate(-50%, -50%) perspective(1000px) rotateY(360deg);
}
#page3 .boundry .face {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(1000px) rotateY(0deg);
          transform: perspective(1000px) rotateY(0deg);
  border-radius: 1rem;
}
#page3 .boundry .face p {
  margin: 0;
}
#page3 .boundry .face.fwdFace {
  overflow: hidden;
}
#page3 .boundry .face.fwdFace img {
  height: 50vh;
  width: auto;
}
#page3 .boundry .face.bckFace {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0px;
  right: 0px;
  -webkit-transform: translate(-50%, -50%) perspective(1000px) rotateY(180deg);
          transform: translate(-50%, -50%) perspective(1000px) rotateY(180deg);
  background-color: #101010;
  color: #eee;
  font-family: "Inconsolata";
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem;
}

#page4 {
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}
#page4 .title1 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-family: "Quicksand";
  position: relative;
  z-index: 40;
}
#page4 .title1 #gyan {
  width: 90%;
  position: relative;
}
#page4 .title1 #gyan #hashTags {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  -webkit-column-gap: 0.3rem;
     -moz-column-gap: 0.3rem;
          column-gap: 0.3rem;
  font-family: "Inconsolata", "Roboto Mono";
}
#page4 .title1 #gyan #hashTags span {
  -webkit-animation: blink 500ms linear infinite;
          animation: blink 500ms linear infinite;
}
#page4 .title1 #gyan p {
  opacity: 0;
  margin: 0;
  text-align: center;
  font-family: "Comfortaa";
}
#page4 .title1 h1 {
  font-size: 2rem;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.5rem;
  margin: 0;
}
#page4 .hid1 {
  opacity: 0;
}
#page4 #knowMore {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  font-size: 1rem;
}
#page4 #people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem 20vw;
  width: 100%;
}
#page4 #people .cardContainer {
  background-color: #fcfbf4;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 230px;
}
#page4 #people .cardContainer .card {
  -webkit-box-shadow: inset 0 0 15px 1px #000000, 0 1px 10px 0px black;
          box-shadow: inset 0 0 15px 1px #000000, 0 1px 10px 0px black;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 230px;
  height: 285px;
  min-height: 285px;
  max-height: 285px;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#page4 #people .cardContainer .card:hover .fImg {
  border-radius: 3rem;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  -webkit-transform: scale(0.4) translateY(-5rem);
          transform: scale(0.4) translateY(-5rem);
}
#page4 #people .cardContainer .card:hover .cardBody .cardInfo p {
  -webkit-animation: tracking-in-expand 1200ms 700ms cubic-bezier(0.215, 0.61, 0.355, 1) both !important;
          animation: tracking-in-expand 1200ms 700ms cubic-bezier(0.215, 0.61, 0.355, 1) both !important;
}
#page4 #people .cardContainer .card:hover ~ .cname {
  background-color: lightgrey;
  opacity: 0.5;
}
#page4 #people .cardContainer .card .bImg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: grayscale(100%) blur(1.5px);
          filter: grayscale(100%) blur(1.5px);
  pointer-events: none;
}
#page4 #people .cardContainer .card .cardBody {
  height: 68%;
  width: 100%;
  display: grid;
  grid-template-rows: 33% 66%;
}
#page4 #people .cardContainer .card .cardBody .cardCircle {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: #fcfbf4;
  -webkit-clip-path: ellipse(50% 49% at 50% 50%);
          clip-path: ellipse(50% 49% at 50% 50%);
}
#page4 #people .cardContainer .card .cardBody .cardInfo {
  background-color: #fcfbf4;
  top: 2px;
  z-index: 10;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#page4 #people .cardContainer .card .cardBody .cardInfo p {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa";
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
  opacity: 0;
  -webkit-animation: tracking-out-contract 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: tracking-out-contract 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}
#page4 #people .cardContainer .card .cardBody .cardInfo .links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#page4 #people .cardContainer .card .cardBody .cardInfo .links svg {
  margin: 0;
  height: 2.5rem;
  width: auto;
  padding-bottom: 0.4rem;
  border-bottom: 3px solid black;
  cursor: pointer;
}
#page4 #people .cardContainer .card .cardBody .cardInfo .links svg:hover {
  -webkit-animation: jello-horizontal 0.9s both;
          animation: jello-horizontal 0.9s both;
}
#page4 #people .cardContainer .card .cardBody .fImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  pointer-events: none;
}
#page4 #people .cardContainer .cname {
  padding: 0.5rem 0 1rem 0;
  -webkit-transition: all 700ms;
  transition: all 700ms;
}
#page4 #people .cardContainer .cname p {
  font-family: "Comfortaa";
  color: #000000;
  margin: 0;
  text-align: center;
  font-size: 1rem;
}
#page4 #people .cardContainer .cname p:last-child {
  font-size: 0.7rem;
  font-family: "Inconsolata", "Roboto Mono";
  text-transform: capitalize;
}

footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(2, 50%);
  background-color: rgba(0, 0, 0, 0.5);
  height: 50vh;
  width: 100vw;
  font-family: "Jost";
}
footer #foot1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid white;
}
footer #foot1 #logo {
  width: 20%;
  padding-left: 2rem;
}
footer #foot1 #logo img {
  height: 20vh;
  width: auto;
}
footer #foot1 #links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
}
footer #foot1 #links a {
  color: white;
  text-decoration: none;
  opacity: 0.7;
  -webkit-transition: opacity 300ms, -webkit-transform 700ms;
  transition: opacity 300ms, -webkit-transform 700ms;
  transition: opacity 300ms, transform 700ms;
  transition: opacity 300ms, transform 700ms, -webkit-transform 700ms;
}
footer #foot1 #links a:hover {
  opacity: 1;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
footer #foot2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
footer #foot2 #footSVG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
footer #foot2 #footSVG svg {
  height: 2rem;
  width: auto;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: 500ms;
  transition: 500ms;
  fill: white;
}
footer #foot2 #footSVG svg path {
  fill: white;
}
footer #foot2 #footTxt p {
  color: white;
  margin: 0;
}