$svg-height : 3rem;
$text-color-1 : #FEFEFE;
// $nav-color : #3F53A4;
$nav-color : #008eff;

$mainTxt-color : #FEFEFE;
$svg-fill : #1D90F5;
$label-color : grey;
$mainTxt-size : 0.9rem;
$group-color : #262626;
$header-color : #1a1a1a;

html,body{
    margin: 0;
    padding: 0;
    /* Hide scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
    &{
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    } 
    /* Hide scrollbar */
    // padding-bottom: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;

}


nav{
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(2px);
    // flex-direction: column;
    #nTops{
        background-color: rgba($header-color,0.7);
        display: flex;
        justify-content: space-between;
        align-items: center;
        // flex-direction: column;
        #tlogo{
            top : 0.5rem ;left: 0.5rem;
            height: $svg-height;
            width: auto;
            cursor: pointer;
            z-index: 1;
        }
        p{
            margin: 0;
            font-family: 'Roboto Mono';
            color: white;
            z-index: 1;
        }
        #mhSVG{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: transparent;
            border-radius: 1rem;
            opacity: 1;
            transition: all 1000ms;
            z-index: 3;
            cursor: pointer;
            &[data-open=false]{
                opacity: 0.4;
            }
            $svg1-color : white;
            svg{
                height: $svg-height;
                width: auto;
                fill: $svg1-color;
            }
            .ham {
                cursor: pointer;
                -webkit-tap-highlight-color: transparent;
                transition: transform 700ms;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            .hamRotate.active {
                transform: rotate(45deg);
                .top {
                    stroke-dashoffset: -98px;
                }
                .bottom {
                    stroke-dashoffset: -138px;
                }
            }
            .line {
                fill:none;
                transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
                stroke:$svg1-color;
                stroke-width:5.5;
                stroke-linecap:round;
            }
            .ham1{
                .top {
                    stroke-dasharray: 40 139;
                }
                .bottom {
                    stroke-dasharray: 40 180;
                }
            }
        }
    }
    #mhLinks1{
        pointer-events: none;
        position: absolute;
        top: 0;left :  0;right: 0;bottom : 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba($color: #000000, $alpha: .5);
        transition: clip-path 1s;
        #mhLinks2{
            z-index: 2;
            background-color: $nav-color;
            clip-path: circle(0% at 50%);
            top: 0;left :  0;right: 0;bottom : 0;
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap : 3rem;

            a{
                text-decoration: none;
                color: $text-color-1;
                font-family: 'Roboto Mono';
                letter-spacing: 1px;
                font-size: 1.5rem;
                overflow: hidden;
                span{
                    display: block;
                    height: 0%;
                    overflow: hidden;
                    text-transform: uppercase;
                }
            }
        }
    }
}




#errorDiv{
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: -20;
    opacity: 0;
    // z-index: 200;
    background-color: rgba($color: #000000, $alpha: 0.4);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 700ms;
    
    #error{
        background-color: #eee;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        $border-radius : 0.6rem;
        border-radius: 0 0 $border-radius $border-radius;
        transform: translateY(-50%);
        opacity: 0;
        transition: 700ms;
        #ehead{
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3rem;
            transition: 600ms;
            &:hover{
                box-shadow: 0px 1px 10px 0px black;
            }
            p{
                flex: 1;
                margin: 0;
                text-align: center;
                font-family: 'Open Sans';
                font-size: 1.3rem;
                // font-weight: 600;
            }
            svg{
                height: 1rem;
                width: auto;
                cursor: pointer;
                stroke : black;
                stroke-width: 1px; 
            }
        }
        #ebody{
            // flex: 1;
            padding: 1rem;
            font-family: 'Roboto Mono';
            p{
                text-align: center;
                span{
                    color: red;
                    display: inline-block;
                }
            }
            // c
        }
    }
}


body{
    background-color: #1D1D1D;
    width: 100vw;
    height: 100vh;
}




#container{
    width: 100%;
    // box-sizing: border-box;
    height: fit-content;
    margin-bottom: 1rem;
    overflow-x: hidden;
    margin-top: $svg-height;
    // background-color: cadetblue;
    #txt{
        margin: 1.5rem 0 0 1rem;
        color: $mainTxt-color;
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        align-items: flex-end;
        width: 100%;
        // column-gap: 0.3rem;
        row-gap: 0.5rem;
        span{
            flex-shrink: 0;
            width: 100%;
            // background-color: antiquewhite;
            // text-align: center;
            color: $label-color;
            padding-left: 1rem;
            font-size: 0.7rem;
            font-family: 'Inconsolata';
            letter-spacing: 1px;
        }
        p{
            font-family: 'Comfortaa';
            margin: 0;
            font-size: 2rem;
            height: fit-content;
        }
        svg{
            height: 1rem;
            width: auto;
            fill : $svg-fill;
            transform: rotate(13deg);
            path {
                fill: $svg-fill;
            }
        }
    }

    form{
        margin: 0 auto;
        margin-top: 2.5rem;
        // background-color: bisque;
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        
        flex-wrap: wrap;
        row-gap: 1rem;
        width: 90%;
        
    
        .fgp{
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $group-color ;
            border-radius: 0.7rem;
            padding: 0.7rem 0.4rem;
            column-gap:0.4rem ;
            width: 100%;
            // height: fit-content;
            // margin: auto 0;
            label{
                font-size: 0.6rem;
                color: $label-color;
                font-family: 'Roboto Mono';
                display: flex;
                // justify-content: center;
                align-items: center;
                column-gap: 0.5rem;
            }
            input,select{
                background-color: transparent;
                font-family: 'Open Sans';
                width: 100%;
                letter-spacing: 1px;
                border: none;
                color: $mainTxt-color;
                font-size: $mainTxt-size;
                &:focus{
                    outline: none;
                }
            }
            select{
                background-color: $group-color;
                font-family: 'Open Sans' !important;
                option{
                    font-family: 'Open Sans' !important;
                    letter-spacing: 0.5px;
                }
            }
            &:nth-of-type(4){
                flex-direction: column;
                // justify-content: flex-start;
                align-items: flex-start;
                label{
                    column-gap: 1rem;
                }
                input{
                    text-align: center;
                }
            }
            &:nth-of-type(4),&:nth-of-type(5){
                width: 45%;
            }
            &:nth-of-type(12){
                background-color: transparent;
                justify-content: space-between;
                margin: 0 auto;
                width: 90%;
                // flex-direction: column;
                label{
                    // align-self: flex-start;
                    width: fit-content;
                }
                label:nth-of-type(2){
                    color: $mainTxt-color;
                    font-size: $mainTxt-size;
                }
                #register{
                    height: 2.5rem;
                    width: auto;
                    opacity: 1;
                    transition: 300ms;
                }
            }
    
            svg{
                $svg-color : white;
                fill : $svg-color;
                overflow: visible;
                height: 1rem;
                width: auto;
                opacity: 0.6;
                path{
                    overflow: visible;
                    fill: $svg-color;
                }
            }
    
        }
        // #register{
        //     display: flex;
        //     // justify-content: center;
        //     justify-content: space-between;
        //     align-items: center;
        //     margin: 0 auto;
        //     width: 95%;
        //     label{
        //         // $button-color :#1C8FF3;
        //         // background-color: cadetblue;
        //         padding: 0.8rem 1.5rem;
        //         font-size: 1rem;
        //         color: $mainTxt-color;
        //         // border: 1px solid $button-color;
        //         border-radius: 0.8rem;
        //         // background-color: transparent;
        //         cursor: pointer;
        //         transition: 700ms;
        //         font-family: 'Comfortaa';
        //         font-weight: 400;
        //     }
        //     svg{
        //         height: 2.5rem;
        //         width: auto;
        //     }
        // }
        
    }
    #links{
        margin-top: 3rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
        svg{
            height: 2rem;
            width: auto;
        }
    }
    #back{
        width: 100%;
        text-align: center;
        a{
            margin: 1rem 0;
            text-decoration: none;
            color: $label-color;
            opacity: 0.7;
            width: 100%;
            text-align: center;            
        }
    }

}



