@media only screen and (max-width: 649px) {
    .desktop-header{
        font-size: 1rem;
        width: 100vw;
    }
}
@media only screen and (max-width: 562px) {
    .desktop-header{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 500px) {
    [class^=mobile]{
        display: block;
    }
    .desktop-header{ display: none;}
    .mobile-header{ display: flex;}
    header{
        width: 100vw;
    }
    #page1{
        flex-direction: column;
        #homeTxt{
            justify-content: center;
            flex: 1 1 33%;
            padding: 0;
            #homeTxtHead{
                flex-direction: column;
            }
            h1{
                text-align: center;
                margin: 0;
                width: 100%;
                font-size: 7ch;
                letter-spacing: 3px;
                line-height: 1.5ch;
            }
            p{
                margin: 1rem 0 0 0;
                // background-color: aqua;
                width: 100%;
                font-size: 2.1ch;
            }
        }
        #homeImg{
            justify-content: flex-start;
            // height: 100%;
            #cyberImg{
                // padding: 1rem;
                $image-scale: 35vh !important;
                height: $image-scale;
                // max-height: 50vh;
                width: $image-scale;
            }
            #pedestal{
                width: 80vw !important;
            }
        }
    }
    #page2{
        flex-direction: column;
    }
    // #page3{
    //     #prevBnt,#nxtBnt{
    //         svg{
    //             height: 2.2vw;
    //             min-height: 10rem;
    //             width: auto;
    //             fill: white;
    //         }
    //     }
    // }
}


