:root{
    --baseFont : 2vmax;
    --breath : 40%;
    --cardWidth : 0px;
    --cardLeftMargin : 1rem;
    --aboutImgSide : 0px;
    --page_grad1 : #bc0001;
    --page_grad2 : #7d0001;
    --page_grad3 : #3f0000;
    // --sActiveColor : #eee;
}
// background: linear-gradient(90deg, #ff7049, #db2f00, #6d1700, #000000);
// $highlight-green : #3FFF00;
$highlight-color-1 : #01FFFF;
$highlight-color-2 : #3FFF00;

// *{
//     opacity: 1 !important;
//     visibility: visible !important;
// }


[class^=mobile]{
    display: none;
}

html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* Hide scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
    &{
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    } 
    /* Hide scrollbar */
}

body{
    background-color: #000000 !important;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100vw;
    /* Hide scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
    &{
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    } 
    /* Hide scrollbar */
    // background: rgb(0,41,253);
    // background: radial-gradient(
    //     circle at -30% 120%, var(--page_grad1), var(--page_grad2), var(--page_grad3) var(--breath), #000000 80%);
    // transition: all 1000ms;
    // height: 100vh;
}


[id^=bcGrad]{
    position: fixed;
    z-index: -20;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: all 1000ms;
}
#blurBG{
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    width: 100%;
    height: 200%;
    z-index: -50;
    opacity: 0;
    transition: 500ms;
}
#bcGrad1{
    background: radial-gradient(
        circle at 0% 100%, #0029fd, #001ba9, #000e54 var(--breath), #000000 80%);
}
#bcGrad2{
    background: radial-gradient(
        circle at 100% 100%, #310090, #270a5e, #1b0b31 var(--breath), #000000 80%);
} 

#bcGrad3{
    background: radial-gradient(
        circle at 0% 50%, var(--page_grad1), var(--page_grad2), var(--page_grad3) var(--breath), #000000
        );
}
#bcGrad4{
    background: radial-gradient(
        circle at 50% 100%, #00d9ff, #0091aa, #004855 var(--breath), #000000
    );
}
#bcGrad5{
    background-color: #000000;
}
// background: linear-gradient(90deg, #ff7049, #db2f00, #6d1700, #000000);


/* POPUP */
$BG-color : #D2BCED;
#popUPBG{
    position: fixed;
    top: 0;left: 0;
    height: 100vh;
    width : 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.9);
    // z-index: 100;
    opacity: 0;
    z-index: -10;
    transition: 800ms;
    #pContent{
        width: 35vw;
        position: relative;
        #cut{
            position: absolute;
            top: 0.4rem;
            right: 0.6rem;
            height: 1.5rem;
            width: auto;
            overflow: visible;
            cursor: pointer;
            transition: 700ms;
            &:hover{
                fill : white
            }
        }
        #popHead{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $BG-color;
            width: 100%;
            
            img{
                height: 10rem;
                width: auto;
            }
        }
        #pBody{
            color : white;
            border: 3px solid $BG-color;
            border-radius: 0 0 1rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1.5rem;
            padding: 1rem 0;
            background-color: #4B4453;
            p{
                margin: 0;
                font-size: 1.3rem;
                font-family: 'Comfortaa';
                letter-spacing: 1px;
                font-weight: 500;
                text-align: center;
            }
            button{
                border: 2px solid $highlight-color-1;
                border-radius: 0.4rem;
                padding: 0.4rem 1rem;
                background-color: transparent;
                color : white;
                font-size: 1rem;
                letter-spacing: 2px;
                font-weight: 500;
                font-family: 'Inconsolata';
                cursor: pointer;
                transition: 700ms;
                &:hover{
                    box-shadow: 0px 0px 10px 0px $highlight-color-1 ;
                    background-color: $highlight-color-1;
                    border-color: $highlight-color-1;
                    color : black;
                    transform: scale(1.05);
                }
            }
        }
    }
}
/* POPUP */





$nav-height : 3.5rem;
// $page-height : calc(100vh - $nav-height);
$page-height : 100vh;

header{
    z-index: 100;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    padding-right: 5vw;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 1rem;
    height: $nav-height;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    // font-size: calc(3vw - 1.3vmax); // responsive mode
    font-size: 1.2rem;
    letter-spacing: 2px;
    transition: background-color 600ms;
    #navLinks{
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
        column-gap: 1rem;
        // background-color: #001ba9;
        #navMarker{
            position: absolute;
            background-color: #eee;
            right: 0;
            height: 2px;
            width: 0;
            bottom: -8px;
            transition: 0.5s;
            border-radius: 4px;
        }
        .activeLink{
            &::after{
                width: 100% !important;
            }
        }
        .nonActiveLink{
            &::after{
                width: 0 !important;
            }
        }
        a{
            $this-padding : 0.3rem 0.5rem;
            // color: white;
            color: rgba($color: #eee, $alpha: 0.6);
            margin: $this-padding;
            // padding: $this-padding;
            text-decoration: none;
            cursor: pointer;
            position: relative;
            &::after{
                content: attr(data-name);
                position: absolute;
                background-clip: text;
                width: 0;
                height: 100%;
                overflow: hidden;
                top: 0;bottom: 0;left: 0;right: 0;
                font-weight: 400;
                color: $highlight-color-1;
                transition: 700ms;
            }
        }
    }
    span{
        a{
            cursor: pointer;
            margin: 0 1rem;
            padding: 0.4rem 0.6rem;
            border: 1px solid $highlight-color-1;
            border-radius: 0.5rem;
            background-color: transparent;
            // background-color: #000000;
            transition: all 1000ms;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: white;
        }
        &:hover{
            a{
                color: black;
                background-color: $highlight-color-1;
            }
        }
    }    
}


.button1{
    color: white;
    font-family: 'Inconsolata';
    // font-weight: 600;    
    // font-size: 2rem;
    padding: 1rem;
    border: 1px solid white ;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 700ms;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    &:hover{
        background-color: $highlight-color-2 !important;
        border-color: transparent !important;
        box-shadow: 0 0 10px black;
        p{
            color: black;
            transform: translateZ(40px);
        }
    }
    p{
        margin: 0;
        -moz-osx-font-smoothing: grayscale;
        transform: translateZ(0px);
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
        will-change: transform;
        -moz-osx-font-smoothing: grayscale;
        transition: 700ms;
    }
}


#pages{
    height: 100vh;
    scroll-behavior: smooth;
    overflow: scroll;
    // flex-direction: column;
    // row-gap: 3vh;
    // height: $page-height;
    // padding-top: $nav-height;
    // display: flex;
    // scroll-snap-type: y mandatory;

    /* Hide scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
    &{
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    } 
    /* Hide scrollbar */
}

#page1,#page2,#page3,#page4,#page5{
    height: $page-height;
    padding-top: $nav-height;
    // background-color: #FEFFB8;
    // height: $page-height;
    // min-height: 80vh;
    // flex: none;
    // width: 100%;
    // scroll-snap-align: start;
}

#page1{
    display: flex;
    // background-color: #001ba9;
    z-index: 50;
    // flex-wrap: wrap;
    // background-color: cadetblue;
    #homeTxt{
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background-color: #57E6E6;
        // flex-direction: column;
        // flex-wrap: wrap;
        // font-family: "Quicksand";
        padding-left: 2rem;
        // animation: bounceInLeft 2000ms ease-in-out forwards;
        // $main-width : 50%;
        h1{
            // min-width: $main-width;
            // background-color: aquamarine;
            display: inline;
            font-family: 'Jost', sans-serif !important;
            width: max-content;
            color: white;
            // font-size: 4rem;
            font-size: unquote($string: "min(5vw,4rem)");
            // font-weight: 600;
            margin: 0;
            margin-bottom: 0.5rem;
            // text-align: center;
        }
        p{
            // background-color: aquamarine;
            margin: 0;
            font-family: 'Comfortaa', cursive;
            margin-left: 4vw;
            width: max-content;
            color: #eee;
            font-weight: 300;
            // font-size: 1.5rem;
            font-size: unquote($string: "min(2.2vw,1.5rem)");
            // font-size: unquote($string: "clamp(0.5rem,0.8rem,4.5rem)");
            text-align: center;
            animation: bounceInLeft 2000ms ease-in-out forwards;

            span{
                font-weight: 400;
                color: orangered;
            }
        }
    }
    #homeImg{
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        // background-color: rgba($color: #eee, $alpha: 0.2);
        // border: 1px solid white;
        #homeImg__content{
            display: flex;
            // background-color: #00ccff;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            // transform: translateY(1rem);
            // perspective: 1000;
            // transform-style: preserve-3d;
            // text-align: center;
            #cyberImg{
                z-index: 10;
                opacity: 0;
                position: relative;
                // background-color: #373b52;
                // bottom: 1vh;
                // bottom: unquote($string: "clamp(1.5rem,2.5rem,5rem)");

                // $image-scale: unquote($string: "clamp(16rem,21rem,24rem)");
                $image-scale: 35vw;
                height: $image-scale;
                max-height: 50vh;
                width: $image-scale;
                // transform: translateY(1rem);
                // height: auto;
                // width: 24rem;

                background-image: url("../assests/cyberS.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                transition: all 700ms ease-in-out;
                // &:hover{
                //     animation: none !important; 
                //     opacity: 1;
                // }
            }
            #light{
                position: absolute;
                // display:none;
                z-index: -10;
                // bottom: 1rem;left: 50%;
                // opacity: 0.8;  
                // width: 294px;
                opacity: 0;
                // height: 100%;
                // transform: translateX(-51%);
                background:linear-gradient(360deg, #ffffff 2.18%, rgba(217, 217, 217, 0) 97.5%);
                transition: all 1000ms;
                // background: rgba($color: #eee, $alpha: 0.7);
            }
            #pedestal{
                $anim-time : 700ms;
                $extra-anim-time : 200ms;
                $extra-delay : 400ms;
                // background-color: #004855;
                // display: none;
                transform: translateY(-35%);
                width: 35vw;
                // max-width: 30rem;
                height: fit-content;
                // z-index: -10;
                // position: absolute;
                // bottom: -15vh;
        
                // }
                [class^=moveUp]{
                    // opacity: 1;
                    opacity: 0;
                    // transition: all 700ms;
                }
                .moveUp1{
                    transform: translateY(5%);
                    animation: amoveUp calc($anim-time + ($extra-anim-time * 3) ) ease-out forwards;
                    animation-delay: calc(($anim-time * 3) + ($extra-anim-time * 2) + $extra-delay);
                }
                .moveUp2{
                    transform: translateY(5%);
                    animation: amoveUp calc($anim-time + ($extra-anim-time * 2) ) ease-out forwards;
                    animation-delay: calc(($anim-time * 2) + ($extra-anim-time * 1) + $extra-delay);
                }
                .moveUp3{
                    transform: translateY(10%);
                    animation: amoveUp calc($anim-time + ($extra-anim-time * 1) ) ease-out forwards;
                    animation-delay: calc(($anim-time * 1) + $extra-delay);
                }
                .moveUp4{
                    transform: translateY(40%);
                    animation: amoveUp $anim-time $extra-delay ease-out forwards;
                }
            }
            
        }
    }
}

#page2{
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
    // flex-direction: column;
    box-sizing: border-box;
    color: white;
    width: 100%;
    // background-color: #000e54;
    // background-color: red;
    #aboutImg{
        flex: 1 1 50%;
        box-sizing: border-box;
        padding: 0 1rem;
        // background-color: #0091aa;
        width: 100%;
        height: 100%;
        position: relative;
        // opacity: 0;
        // $spacing : 0rem;
        // $padding : 1rem;
        img{
            position: absolute;
            top: 0;left: 0;bottom: 0;right: 0;
            // transform: translateY(-50%);
            width: 100%;
            min-height: 50%;
            height: auto;
            box-sizing: border-box;
            // padding: $padding;
            // border: 1px solid red;
            object-fit: cover;
            object-position: center;
        }  
    }
    #aboutTxt{
        box-sizing: border-box;
        // background-color: #bc0001;
        padding: 0 0.5rem;
        flex: 1 0 50%;
        display: flex;
        height: 50%;
        flex-direction: column;
        overflow: hidden;
        z-index: -10;
        // justify-content: center;
        // align-items: center;
        // background-color:blanchedalmond;
        // background-color:firebrick;
        // box-sizing: border-box;
        #move-1,#move-2{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            // height: 100%;
        }
        #move-1{
            height: 100%;
            width: 100%;
            flex-shrink: 0;
            font-family: 'Quicksand';
            font-size: 3rem;
            // height: 50%;
            // background-color:firebrick;
            // background-color:firebrick;
        }
        #move-2{
            // opacity: 0;
            width: 100%;
            height: fit-content;
            font-family: 'Roboto Mono';

            // opacity: 0;
            // transform: translateY(-100%);
            flex-shrink: 0;
            // height: fit-content;
            // background-color:transparent;
            // background-color:firebrick;
            // background-color:burlywood;
        }
    }

}




#page3{
    $per1 : 1000px;
    height: 100vh;
    width: 100%;

    // position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .splide{
        // position: absolute;
        // height: 100%;
        .splide__track{
            overflow: visible;
            margin-top: 50vh;
            transform: translateY(-50%);
            // z-index: -10;
            // position: absolute;
        }
        .splide__arrow,.splide__pagination{
            top: 0 !important;
            // transform: translateY(-50%);
            // z-index: 100;
        }
    }
    .boundry{
        // background-color: #00ccff;
        position: relative;
        width: fit-content;
        box-sizing: border-box;
        // margin: 1rem 0;
        margin: 0 3rem;
        &:hover{
            .face.fwdFace{
                transform: perspective($per1) rotateY(180deg);
            }
            .face.bckFace{
                transform: translate(-50%,-50%) perspective($per1) rotateY(360deg);
            }
        }
        .face{
            // padding: 0.5rem;
            // border: 1px solid white;
            // border-radius: 0.33vw;
            transform-style: preserve-3d;
            transition: 2s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            backface-visibility: hidden;
            transform: perspective($per1) rotateY(0deg);
            border-radius: 1rem;

            p{
                margin: 0;
            }
            &.fwdFace{
                overflow: hidden;
                img{
                    height: 50vh;
                    width: auto;
                    // max-width: 50%;
            }
            }
            &.bckFace{
                position: absolute;
                top: 50%;left: 50%;bottom: 0px;right: 0px;
                transform: translate(-50%,-50%) perspective($per1) rotateY(180deg);
                background-color: #101010;
                color: #eee;
                font-family: 'Inconsolata';
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                padding: 0.5rem;
                // width: fit-content;
                // transform: perspective($per1) rotateY(180deg);
            }
        }
    }
    // background-color: #00ccff;
    // .splide{
    //     .splide__pagination{
    //         bottom: -5px;
    //         .is-active{
    //             background-color: var(--page_grad1);
    //         }
    //     }
    //     width: 100vw;
    //     .splide__track{
    //         overflow: visible;
    //         .splide__list{
    //             .splide__slide{
    //                 width: 90vw;
    //                 display: flex;
    //                 justify-content: center;
    //                 align-items: center;
    //                 // overflow: hidden;
    //                 // background-color: #01FFFF;
    //                 // height: fit-content;
    //                 .boundry{
    //                     // background-color: #00ccff;
    //                     position: relative;
    //                     width: fit-content;
    //                     box-sizing: border-box;
    //                     margin: 1rem 0;
    //                     &:hover{
    //                         .face.fwdFace{
    //                             transform: perspective($per1) rotateY(180deg);
    //                         }
    //                         .face.bckFace{
    //                             transform: translate(-50%,-50%) perspective($per1) rotateY(360deg);
    //                         }
    //                     }
    //                     .face{
    //                         // padding: 0.5rem;
    //                         // border: 1px solid white;
    //                         // border-radius: 0.33vw;
    //                         transform-style: preserve-3d;
    //                         transition: 2s ease-in-out;
    //                         display: flex;
    //                         justify-content: center;
    //                         align-items: center;
    //                         backface-visibility: hidden;
    //                         transform: perspective($per1) rotateY(0deg);
    //                         border-radius: 1rem;

    //                         p{
    //                             margin: 0;
    //                         }
    //                         &.fwdFace{
    //                             overflow: hidden;
    //                             img{
    //                                 height: 50vh;
    //                                 width: auto;
    //                                 // max-width: 50%;
    //                         }
    //                         }
    //                         &.bckFace{
    //                             position: absolute;
    //                             top: 50%;left: 50%;bottom: 0px;right: 0px;
    //                             transform: translate(-50%,-50%) perspective($per1) rotateY(180deg);
    //                             background-color: #101010;
    //                             color: #eee;
    //                             font-family: 'Inconsolata';
    //                             width: 100%;
    //                             height: 100%;
    //                             box-sizing: border-box;
    //                             padding: 0.5rem;
    //                             // width: fit-content;
    //                             // transform: perspective($per1) rotateY(180deg);
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}

#page4{
    // box-sizing:content-box;
    // background-color: #B294FF;
    min-height: 100vh;
    height: fit-content;
    // height: 100vh;
    // width: 100vw;
    display: flex;
    // overflow-y: hidden;
    // transition: 1000ms;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;

    
    $hidden : 0;
    .title1{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color : white;
        font-family: 'Quicksand';
        // background-color: #001ba9;
        position: relative;
        z-index: 40;
        #gyan{
            width: 90%;
            position: relative;
            #hashTags{
                position: absolute;
                top: 0;left: 0;right: 0;bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                // font-size: 1.5rem;
                font-size: 1rem;
                column-gap: 0.3rem;
                // background-color: #00ccff;
                font-family: 'Inconsolata','Roboto Mono';
                span{
                    animation: blink 500ms linear infinite;
                }
            }
            p{
                opacity: 0;
                margin: 0;
                text-align: center;
                font-family: 'Comfortaa';
            }
        }
        h1{
            // font-size: 8rem;
            font-size: 2rem;
            text-align: center;
            box-sizing: border-box;
            padding: 0 0.5rem;
            // position: absolute;
            // background-color: pink;
            margin: 0;
        }
        
    }
    .hid1{
        opacity: $hidden;
    }
    #knowMore{
        // visibility: collapse;
        // opacity: $hidden;
        flex: none;
        // font-size: calc(var(--baseFont) - 1vmin);
        font-size: 1rem;
    }
    #people{
        // visibility: collapse;
        // opacity: $hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem 20vw;
        width: 100%;
        // background-color: #00ccff;
        $cardInfoColor : #fcfbf4;
        $card-width : 230px;
        $card-height : 285px;
        .cardContainer{
            background-color: $cardInfoColor;
            border-radius: 1rem;
            overflow: hidden;
            max-width: $card-width;;
            // height: $card-height;
            // min-width: $card-width;
            // max-width: $card-width;
            // min-height: $card-height;
            // max-height: $card-height;
            .card{
                box-shadow: inset 0 0 15px 1px #000000, 0 1px 10px 0px black;
                position: relative;
                box-sizing: border-box;
                width: $card-width;
                height: $card-height;
                // min-width: $card-width;
                // max-width: $card-width;
                min-height: $card-height;
                max-height: $card-height;
                margin: 0;
                // visibility: hidden;
                // opacity: 0.3 !important;
                // border: 1px solid white;
                // background-color: #eee;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                &:hover{
                    .fImg{
                        border-radius: 3rem;
                        box-shadow: 0 0 20px black;
                        transform: scale(0.4) translateY(-5rem);
                    }
                    .cardBody .cardInfo p{
                        animation: tracking-in-expand 1200ms 700ms cubic-bezier(0.215, 0.610, 0.355, 1.000) both !important ;
                    }
                    &~.cname{
                        // opacity: 0;
                        background-color: lightgrey;
                        opacity: 0.5;
                    }
                }
                .bImg{
                    position: absolute;
                    // border: 1px solid red;
                    // z-index: -10;
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    object-position: center;
                    filter: grayscale(100%) blur(1.5px);
                    pointer-events: none;
                }
                .cardBody{
                    // align-self: end;
                    height: 68%;
                    width: 100%;
                    // background-color:    aquamarine;
                    // position: relative;
                    display: grid;
                    grid-template-rows: 33% 66%;
                    .cardCircle{
                        // position: absolute;
                        // top: 0;
                        // height: 100%;
                        // width: 100%;
                        transform: translateY(50%);
                        // background-color: beige; 
                        background-color: $cardInfoColor;    
                        clip-path: ellipse(50% 49% at 50% 50%);
                    }
                    .cardInfo{
                        background-color: $cardInfoColor;
                        // opacity: 0.5;
                        // visibility: hidden;
                        top: 2px;
                        z-index: 10;
                        position: relative;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        // box-sizing: border-box;
                        p{
                            margin: 0;
                            padding: 0;
                            // background-color:red;
                            // width: 100%;
                            font-family: 'Comfortaa';
                            margin-top: 1rem;
                            font-size: 1.5rem;
                            text-align: center;
                            opacity: 0;
                            animation: tracking-out-contract 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                            transition: all 1000ms;
                        }
                        .links{
                            // background-color: chocolate;
                            height: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            svg{
                                margin: 0;
                                // height: 10%;
                                height: 2.5rem;
                                width: auto;
                                padding-bottom: 0.4rem;
                                border-bottom: 3px solid black;
                                cursor: pointer;
                                &:hover{
                                    animation: jello-horizontal 0.9s both;
                                }
                            }
                        }
                    }
                    .fImg{
                        position: absolute;
                        top: 0;bottom: 0;left: 0;right:0;
                        z-index: 20;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                        transition: all 1000ms;
                        pointer-events: none;
                        // transform: scale(0.4) translateY(
                            //     calc(
                                //         (($card-height - 50%)*0.4 + -1*($card-height/2))
                                //         )
                                //     );
                    }
                }
            }  
            .cname{
                padding: 0.5rem 0 1rem 0;
                p{
                    font-family: 'Comfortaa';
                    color: #000000;
                    margin: 0;
                    text-align: center;
                    font-size: 1rem;
                    &:last-child{
                        font-size: 0.7rem;
                        font-family: 'Inconsolata','Roboto Mono';
                        text-transform: capitalize;
                    }
                }
                transition: all 700ms;

            }
        } 
    }
}


footer{
    // scroll-snap-align: start;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(2,50%);
    // display: flex;
    // flex-direction: column;
    // background-color: #0091aa;
    // circle at 50% 100%, #00d9ff, #0091aa, #004855 var(--breath), #000000

    // background: linear-gradient(0deg, #0091aa, #006b7c, #004752, #00262c);
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 50vh;
    // height: fit-content;
    width: 100vw;
    // justify-content: center;
    // align-items: center;
    font-family: 'Jost';
    #foot1{
        display: flex;
        padding: 2rem 0;
        // background-color: #00d9ff;
        // justify-content: center;
        align-items: center;
        border-bottom: 1px solid white;
        #logo{
            width: 20%;
            // background-color: #0091aa;
            padding-left: 2rem;
            img{
                height: 20vh;
                width: auto;
            }
        }
        #links{
            flex: 1;
            // background-color: chocolate;
            display: flex;
            justify-content: center;
            column-gap: 4rem;
            a{
                color: white;
                text-decoration: none;
                opacity: 0.7;
                transition: opacity 300ms , transform 700ms;
                &:hover{
                    opacity: 1;
                    transform: scale(1.08);
                    filter: brightness(1.1);
                }
            }
        }
    }
    #foot2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        #footSVG{
            display: flex;
            gap: 2rem;
            svg{
                $svg-color : white;
                height: 2rem;
                width: auto;
                overflow: visible; 
                cursor: pointer;
                transition: 500ms;
                // opacity: 0.5;
                fill: $svg-color;
                path{
                    fill : $svg-color;
                }
            }
        }
        #footTxt{
            p{
                color: white;
                margin: 0;
            }
        }
    }
}

