:root{
    --cardW : 0;
    --cardH : 0;
    --cardAW : 0;
    --cardAH : 0;
    --padding-top : 0;
    --breath : 40%;
}

#marker{
    position: absolute;
    top: 0;left : 0;right : 0; bottom: 0;
    height: 10px;
    width: 10px;
    background-color: red;
    z-index: 100000;
    transition: 500ms;
    visibility: hidden;
}



html,body{
    margin: 0;
    padding: 0;
    /* Hide scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
    &{
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    } 
    /* Hide scrollbar */
    // padding-bottom: 100vh;

}


.Lsvg{
    position: absolute;
    left: 0;
    z-index: -10;
    // height: 100%;
    width: 100vw;
    // background-color: chocolate;
    pointer-events: none;
    // overflow: visible;
    path{
        stroke : white;
        stroke-width : 2px;
    }
    circle{
        fill : white;
    }
    
}

#bcGrad1{
    position: fixed;
    z-index: 200;
    height: 100vh;
    width: 100vw;
    // opacity: 0;
    transition: all 1000ms;
    background: radial-gradient(
        circle at 50% 100%, #00d9ff, #0091aa, #004855 var(--breath), #000000
    );
}

body{
    font-family: 'Comfortaa';
    width: 100vw;
    min-height: 100vh;
    // margin-bottom: 100vh;
    // overflow: scroll;
    color: #eee;
}
// #start{
//     position: fixed;
//     height: 100vh;
//     // overflow: auto;
//     width: 100vw;
//     z-index: 1000;
// }

#mainTxt{
    // opacity: 0;
    position: fixed;
    // background-color: red;
    top: 0;left : 0;right : 0; bottom: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    // align-items: center;
    z-index: 400;
    pointer-events: none;
    transition: 600ms;
    $padding-top-bottom : 2rem;
    $font-size: 4rem;
    #mainD{
        // background-color: red;
        background-color: rgba($color: #000000, $alpha: 0.5);
        backdrop-filter: blur(2px);
        height: fit-content;
        padding-top: 1rem;
        border-radius: 0 0 1rem 1rem;

        // width: 100%;
        p{
            margin: 0;
            width: fit-content;
            transform: translateY(calc(50vh - $padding-top-bottom - $font-size));
            color: black;
            transform-origin: center;
            // color: red;
            // color: grey;
            padding: $padding-top-bottom 3rem;
            background-color: #eee;
            font-size: $font-size;
            border-radius: 1rem;
            // text-decoration: underline;
        }
    }
}

#bgGrid{
    // opacity: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    // opacity: 0.8;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-content: flex-start;
    z-index: 300;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(5,1fr);
    
    // grid-template-columns: repeat(1,1fr);
    // gap: 1rem;
    .bgGrid__item{
        // opacity: 0.1;
        filter: brightness(0.8);
        position: relative;
        height: 100%;
        width: 100%;
        background-image: url("../assests/person.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover{
            filter: brightness(1);
        }
    }
}

#people{
    position: fixed;
    top: 0;
    // left: 50%;
    opacity: 0;
    padding-top: calc( 1rem + 10px );
    // transform: translateX(-50%);
    // $pad : 1rem;
    // padding-left: $pad;
    // padding-right: $pad;
    box-sizing: border-box;
    // background-color: burlywood;
    // visibility: collapse;
    // opacity: $hidden;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    // gap: 2rem 20vw;
    // padding-bottom: 100vh;
    // position: relative;
    // z-index: -100;
    height: 100vh;
    width: 100vw;
    // padding: 0 5rem;
    box-sizing: border-box;
    overflow-y: scroll;
    // overflow-x: hidden;
    // scroll-snap-type: y mandatory;
    /* Hide scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
    &{
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    } 
    /* Hide scrollbar */
    .people__contain{
        display: flex;
        // position: relative;
        // justify-content: space-around;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.7rem 15.5rem;
        height: 100vh;
        // width: 80%;
        // margin: 0 10%;
        // max-height: 100vh;
        // max-width: 100vw;
        box-sizing: border-box;
        padding: 4rem 0rem;
        // background-color: rgba($color: red, $alpha: 0.5);
        // scroll-snap-align: start;
    }
    #adv{
        display: grid;
        // width: 90%;
        max-width: 1024px;
        margin: 0 auto;
        // width: 100vw;
        grid-template-columns: repeat(3,var(--cardAW));
        gap : 2rem 4rem;
        // $pad : 1rem;
        // padding-left: $pad;
        // padding-right: $pad;
        // background-color: red;
        box-sizing: border-box;
        height: fit-content;
        justify-content: space-around;
        align-items: center;
        // flex-wrap: nowrap;
        .cardContainer{
            align-self: center;
            justify-self: center;
        }
    }
    #pres{
        // background-color: #00ccff;
        max-width: 1024px;
        margin: 0 auto;
    }
    #sec{
        // display: flex;
        // background-color: aquamarine;
    }
    #t{
        // background-color: brown;
    }
    #heads{
        // background-color: cadetblue;
        display: grid;
        // width: 100vw;
        grid-template-columns: repeat(6,var(--cardW));
        gap : 1rem;
        box-sizing: border-box;
        // padding: 4rem 1rem;
        // flex-wrap: nowrap;
        .card{
            flex: none;
            height: var(--cardH) !important;
            width: var(--cardW) !important;
        }
        // .o0{
        //     opacity: 0;
        // }
        // display: grid;
        // grid-template-columns: repeat(4,1fr);
    }

    $card-width : 230px;
    $card-height : 285px;

    #mis{
        // flex-direction: column;
        // background-color: aquamarine;
        #misContain{
            position: relative;
            width: 100%;
            height: 100%;
            // background-color: rgba($color: white, $alpha: 0.5);
            // background-color: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
            .card{
                flex: none;
                
                // height: var(--cardH) !important;
                // width: var(--cardW) !important;
            }
        }
        #misTxt{
            position: absolute;
            z-index: -10;
            width: 100%;
            height: 100%;
            top: 0;left: 0;
            box-sizing: border-box;
            padding-left: calc($card-width + 2rem);
            display: flex;
            align-items: center;
            opacity: 0;
            // color: black;
        }
    }
    $cardInfoColor : #fcfbf4;
    .cardContainer{
        background-color: $cardInfoColor;
        border-radius: 1rem;
        overflow: hidden;
        max-width: $card-width;
        // height: $card-height;
        // min-width: $card-width;
        // max-width: $card-width;
        // min-height: $card-height;
        // max-height: $card-height;
        .card{
            box-shadow: inset 0 0 15px 1px #000000, 0 1px 10px 0px black;
            position: relative;
            box-sizing: border-box;
            width: $card-width;
            height: $card-height;
            // min-width: $card-width;
            // max-width: $card-width;
            min-height: $card-height;
            max-height: $card-height;
            margin: 0;
            // visibility: hidden;
            // opacity: 0.3 !important;
            // border: 1px solid white;
            // background-color: #eee;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            &:hover{
                .fImg{
                    border-radius: 3rem;
                    box-shadow: 0 0 20px black;
                    transform: scale(0.4) translateY(-5rem);
                }
                .cardBody .cardInfo p{
                    animation: tracking-in-expand 1200ms 700ms cubic-bezier(0.215, 0.610, 0.355, 1.000) both !important ;
                }
                &~.cname{
                    // opacity: 0;
                    background-color: lightgrey;
                    opacity: 0.5;
                }
            }
            .bImg{
                position: absolute;
                // border: 1px solid red;
                // z-index: -10;
                width: 100%;
                height: 100%;
                object-fit: fill;
                object-position: center;
                filter: grayscale(100%) blur(1.5px);
                pointer-events: none;
            }
            .cardBody{
                // align-self: end;
                height: 68%;
                width: 100%;
                // background-color:    aquamarine;
                // position: relative;
                display: grid;
                grid-template-rows: 33% 66%;
                .cardCircle{
                    // position: absolute;
                    // top: 0;
                    // height: 100%;
                    // width: 100%;
                    transform: translateY(50%);
                    // background-color: beige; 
                    background-color: $cardInfoColor;    
                    clip-path: ellipse(50% 49% at 50% 50%);
                }
                .cardInfo{
                    background-color: $cardInfoColor;
                    // opacity: 0.5;
                    // visibility: hidden;
                    top: 2px;
                    z-index: 10;
                    position: relative;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    // box-sizing: border-box;
                    p{
                        margin: 0;
                        padding: 0;
                        // background-color:red;
                        // width: 100%;
                        font-family: 'Comfortaa';
                        margin-top: 1rem;
                        font-size: 1.5rem;
                        text-align: center;
                        opacity: 0;
                        animation: tracking-out-contract 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                        transition: all 1000ms;
                    }
                    .links{
                        // background-color: chocolate;
                        height: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        svg{
                            margin: 0;
                            // height: 10%;
                            height: 2.5rem;
                            width: auto;
                            padding-bottom: 0.4rem;
                            border-bottom: 3px solid black;
                            cursor: pointer;
                            &:hover{
                                animation: jello-horizontal 0.9s both;
                            }
                        }
                    }
                }
                .fImg{
                    position: absolute;
                    top: 0;bottom: 0;left: 0;right:0;
                    z-index: 20;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: all 1000ms;
                    pointer-events: none;
                    // transform: scale(0.4) translateY(
                        //     calc(
                            //         (($card-height - 50%)*0.4 + -1*($card-height/2))
                            //         )
                            //     );
                }
            }
        }  
        .cname{
            padding: 0.5rem 0 1rem 0;
            p{
                color: #000000;
                margin: 0;
                text-align: center;
            }
            transition: all 700ms;

        }
    }  
}


footer{
    // scroll-snap-align: start;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(2,50%);
    // display: flex;
    // flex-direction: column;
    // background-color: #0091aa;
    // circle at 50% 100%, #00d9ff, #0091aa, #004855 var(--breath), #000000

    // background: linear-gradient(0deg, #0091aa, #006b7c, #004752, #00262c);
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 50vh;
    // height: fit-content;
    width: 100vw;
    // justify-content: center;
    // align-items: center;
    #foot1{
        display: flex;
        padding: 2rem 0;
        // background-color: #00d9ff;
        // justify-content: center;
        align-items: center;
        border-bottom: 1px solid white;
        #logo{
            width: 20%;
            // background-color: #0091aa;
            padding-left: 2rem;
            img{
                height: 20vh;
                width: auto;
            }
        }
        #links{
            flex: 1;
            // background-color: chocolate;
            display: flex;
            justify-content: center;
            column-gap: 4rem;
            a{
                color: white;
                text-decoration: none;
                opacity: 0.7;
                transition: opacity 300ms , transform 700ms;
                &:hover{
                    opacity: 1;
                    transform: scale(1.08);
                    filter: brightness(1.1);
                }
            }
        }
    }
    #foot2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        #footSVG{
            display: flex;
            gap: 2rem;
            svg{
                $svg-color : white;
                height: 2rem;
                width: auto;
                overflow: visible; 
                cursor: pointer;
                transition: 500ms;
                // opacity: 0.5;
                fill: $svg-color;
                path{
                    fill : $svg-color;
                }
            }
        }
    }
}



